<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="artlines.kz.cleaning" >
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Cleaning"
            android:label="@string/title_activity_cleaning"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="artlines.kz.cleaning.MainActivity" />
        </activity>
        <activity
            android:name=".CleanGen"
            android:label="@string/title_activity_clean_gen"
            android:parentActivityName=".Cleaning" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="artlines.kz.cleaning.Cleaning" />
        </activity>
        <activity
            android:name=".CustomerContacts"
            android:label="@string/title_activity_customer_contacts"
            android:parentActivityName=".CleanGen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="artlines.kz.cleaning.CleanGen" />
        </activity>
        <activity
            android:name=".CalculatorGen"
            android:label="@string/title_activity_calculator_gen" >
        </activity>
        <activity
            android:name=".OtherServicesGen"
            android:label="@string/title_activity_other_services_gen" >
        </activity>
        <activity
            android:name=".Address"
            android:label="@string/title_activity_address" >
        </activity>
        <activity
            android:name=".Payment"
            android:label="@string/title_activity_payment" >
        </activity>
        <activity
            android:name=".Success"
            android:label="@string/title_activity_success" >
        </activity>
        <activity
            android:name=".Plumbing"
            android:label="@string/title_activity_plumbing" >
        </activity>
        <activity
            android:name=".CalculatorSuper"
            android:label="@string/title_activity_calculator_super" >
        </activity>
        <activity
            android:name=".CleanDev"
            android:label="@string/title_activity_clean_dev" >
        </activity>
        <activity
            android:name=".CalculatorDev"
            android:label="@string/title_activity_calculator_dev" >
        </activity>
        <activity
            android:name=".Chemistry"
            android:label="@string/title_activity_chemistry" >
        </activity>
        <activity
            android:name=".Registration"
            android:label="@string/title_activity_registration" >
        </activity>
        <activity
            android:name=".CalculatorMetal"
            android:label="@string/title_activity_calculator_metal" >
        </activity>
        <activity
            android:name=".CalculatorPVH"
            android:label="@string/title_activity_calculator_pvh" >
        </activity>
        <activity
            android:name=".CalculatorChannel"
            android:label="@string/title_activity_calculator_channel" >
        </activity>
        <activity
            android:name=".CalculatorFayans"
            android:label="@string/title_activity_calculator_fayans" >
        </activity>
        <activity
            android:name=".CalculatorWarm"
            android:label="@string/title_activity_calculator_warm" >
        </activity>
    </application>

</manifest>
